/* --- css variables --- */
:root {
  --primary-font-size: 20px;
  --primary-color: 20, 20, 20; /* #141414 */
  --secondary-color: 255, 255, 255; /* #ffffff */
  --tertiary-color: 245, 245, 245; /* #f5f5f5 */
  --quarternary-color: 190, 165, 116; /* #bea574 */
  --accent-color: 221, 238, 248; /* #ddeef8 */
  --skeleton-color: 216, 216, 216; /* #d8d8d8 */
  --space-unit: 8px;
}
/* --- my custom css reset --- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: var(--primary-font-size);
  background-color: rgb(var(--tertiary-color));
  color: rgb(var(--primary-color));
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: rgb(var(--primary-color));
  transition: color .15s ease-in;
}
a:hover {
  color: rgb(var(--quarternary-color));
}
/* --- styles --- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-height: 100px;
  background-color: rgb(var(--accent-color));
}
main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: calc(var(--space-unit)*5) 0;
}
main > section {
  width: 320px;
  margin: 0 auto;
}
main > section > form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-unit)*2);
  align-items: center;
}
main > section > form input {
  width: 80%;
  margin-left: calc(var(--space-unit)*1);
}
main > section > form > button {
  cursor: pointer;
}
.msg {
  text-align: center;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-unit);
  background-color: rgb(var(--secondary-color));
}