<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h2>{{ header_title }}</h2>
  </header>
  <main>
    <section>
      {% block body %}
      //content will be here
      {% endblock %}
    </section>
  </main>
  <footer>
    <p>&copy; Juri 2022</p>
  </footer>
  <script type="text/javascript" src="{{ url_for('static', filename='/app.js') }}"></script>
</body>
</html>