/* --- css variables --- */
:root {
  --primary-font-size: 20px;
  --primary-color: 20, 20, 20; /* #141414 */
  --secondary-color: 255, 255, 255; /* #ffffff */
  --tertiary-color: 245, 245, 245; /* #f5f5f5 */
  --quarternary-color: 190, 165, 116; /* #bea574 */
  --accent-color: 221, 238, 248; /* #ddeef8 */
  --skeleton-color: 216, 216, 216; /* #d8d8d8 */
  --space-unit: 8px;
}
/* --- my custom css reset --- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: var(--primary-font-size);
  background-color: rgb(var(--tertiary-color));
  color: rgb(var(--primary-color));
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: rgb(var(--primary-color));
  transition: color .15s ease-in;
}
a:hover {
  color: rgb(var(--quarternary-color));
}
/* --- styles --- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-height: 300px;
  background-color: rgb(var(--accent-color));
}
header > .header-title {
  font-size: calc(var(--primary-font-size)*2);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--secondary-color));
  padding: var(--space-unit);
}
nav > .nav-menu {
  display: flex;
  align-items: center;
}
nav > .nav-menu > #mobile-nav-switch {
  display: none;
}
nav > .nav-menu > .mobile-nav-icon {
  display: none;
  width: 26px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
nav > .nav-menu > .mobile-nav-icon > span {
  width: 100%;
  height: 2px;
  background-color: rgb(var(--primary-color));
  position: absolute;
  transition: .2s ease-in-out;
}
nav > .nav-menu > .mobile-nav-icon > span:nth-child(1){
  top: 0px;
  left: 0px;
}
nav > .nav-menu > .mobile-nav-icon > span:nth-child(2){
  top: 9px;
  left: 0px;
  opacity: 1;
}
nav > .nav-menu > .mobile-nav-icon > span:nth-child(3){
  bottom: 0px;
  left: 0px;
}
nav > .nav-menu > #mobile-nav-switch:checked ~ label > span:nth-child(1){
  transform: rotate(45deg);
  top: 9px;
}
nav > .nav-menu > #mobile-nav-switch:checked ~ label > span:nth-child(2){
  opacity:0;
}
nav > .nav-menu > #mobile-nav-switch:checked ~ label > span:nth-child(3){
  transform: rotate(-45deg);
  top: 9px;
}
nav > .nav-menu > ul {
  display: flex;
  gap: calc(var(--space-unit)*2);
  list-style-type: none;
  padding-left: 0;
}
main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: calc(var(--space-unit)*5) 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: calc(var(--space-unit)*3);
  row-gap: calc(var(--space-unit)*2);
  position: relative;
}
main > article {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
main > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .22s ease-in;
}
main > article > img:hover {
  transform: scale(1.2);
}
.skeleton {
  color: rgb(65, 51, 51);
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right / 300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2s infinite;
  background-color: rgb(var(--skeleton-color));
}
@keyframes shimmer {
  100% { -webkit-mask-position:left }
}
main > article > .article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(var(--accent-color), 0.8);
  text-align: center;
  padding: var(--space-unit);
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.overlay-box {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(var(--quarternary-color));
  border-radius: 50%;
  border-top-color: rgb(var(--quarternary-color), 0.4);
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
#load-more-btn {
  width: 15%;
  margin: 16px auto 48px;
  cursor: pointer;
  display: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-unit);
  background-color: rgb(var(--secondary-color));
}
/* --- rwd --- */
@media (max-width: 1200px) { 
  main {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  #load-more-btn {
    width: 30%;
  }
}
@media (max-width: 600px) { 
  header > .header-title {
    font-size: calc(var(--primary-font-size)*1.5);
  }
  main {
    grid-template-columns: repeat(1, 1fr);
  }
  nav > .nav-menu > .mobile-nav-icon {
    display: block;
  }
  nav > .nav-menu > ul {
    z-index: -1;
    flex-direction: column;
    position: absolute;
    top: 38px;
    right: 0;
    width: 100%;
    padding: calc(var(--space-unit)*2) var(--space-unit);
    background-color: rgb(var(--secondary-color));
    opacity: 0;
    transition: all .2s ease-in;
  }
  nav > .nav-menu > #mobile-nav-switch:checked ~ label + ul{
    z-index: 0;
    opacity: 1;   
  }
  nav > .nav-menu > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #load-more-btn {
    width: 90%;
  }
}